* {
    margin: 0;
    padding: 0.5%;
    vertical-align: baseline;
    background: transparent;
}
html{
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}
header{
    position: sticky;
    top: 0;
    background-color: #D84040;
}
body{
    padding: 0;
    background-color: #EEEEEE;
    color: #1D1616;
}
.title{
}
h3{
    color: #8E1616;
}
dt{
    font-weight: bold;
}
.languagesList{
    padding-left: 1%;
}
.contactList{
    padding-left: 1%;
}
.externalLink{
    color: #8E1616;
    text-decoration: none;
    font-weight: bold;
}
#linkedinIcon{
    width: 20px;
    padding: 0;
}
footer{
    background-color: #D84040;
}